<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConexionDB" value="Data Source=LAP1R0K533\SQLEXPRESSMAG;Initial Catalog=Compras;Integrated Security=false; User Id =cp_user; Password=Mazda2020"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="rutaTabla" value ="\\192.168.10.244\General_Information\001.IT\Gabriel\Tabla Comparativa"/>
		<add key="rutaCotizacion" value ="\\192.168.10.244\General_Information\001.IT\Gabriel\Cotizaciones"/>
		<add key="emailsupervisor" value ="magana.g@mazdalogi.mx"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>